<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img src="/assets/logo1.png" width="150">
        </div>
        <div class="col-sm-9">
            <br>
            <p class="entete">

                <a (click)="goToPage('connexion')">
                    <mat-icon class="iconentete" style="color: red;">power_settings_new</mat-icon>
                </a>
            </p>
        </div><br><br>

    </div>
    <div class="container  topBotomBordersIn">
        <a routerLink="/accueil">ACCEUIL</a>

    </div>
    <br><br><br><br>
    <!-- affichage du table  -->
    <div class="input-group">
        <span class="input-group-text">what's happening</span>
        <textarea class="form-control" #message aria-label="With textarea"></textarea>
        
        <button mat-raised-button  (click)="envoyemessage(message.value);reloadPage()" color="primary">Envoyer</button>
      </div>
<br>

      <div class="alert alert-primary" *ngFor="let p of newmessage" role="alert">
        {{p.user.nom}} : <a  class="alert-link">{{p.message}}</a>

      </div>
</div>