<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img src="/assets/logo1.png" width="150">
        </div>
        <div class="col-sm-9">
            <br>
                <p class="entete">
           
                    <a >
                        <mat-icon class="iconentete" style="color: red;">power_settings_new</mat-icon>
                    </a>
                </p>
            </div><br><br>
        
    </div>
    <div class="container  topBotomBordersIn">
        <a routerLink="/accueil">ACCEUIL</a>

    </div>